.table {
  display: table;
  margin-right: 50px;
  color: rgb(37, 104, 72);
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
}

.e {
  color: rgb(196, 61, 61);
}
