.table {
  display: table;
  color: rgb(37, 104, 72);
}

.e {
  color: rgb(196, 61, 61);
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 1px solid rgb(117, 114, 114);
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: xx-large;
}
